/* #region base */

/* From min-width, I find the answer on how to set the min-width of the page here
https://stackoverflow.com/questions/3802455/min-width-in-window-resizing
That's why I use important */
body {
  color: gray;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 375px;
  width: auto !important;
  width: 375px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

header {
  background-color: red;
  color: white;
  font-weight: bold;
  position: relative;
  height: 50px;
  width: 100vw;
}
/* #endregion base */

/* #region layout */

/* #region header */

/* #region header top */
.page-header__date {
  height: 20px;
  width: 100%;
}

.header__item {
  height: 50px;
}

.page-header__links {
  height: 30px;
  width: 100%;
}

.page-header__link-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.885rem;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  padding: 6px 3px;
}

.page-header__menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.bar {
  background-color: #fb9a94;
  display: block;
  margin-top: 4px;
  height: 4px;
  width: 24px;
  position: relative;
  bottom: 2px;
}

.page-header__button:hover {
  color: red;
}

.page-header__main-title {
  height: 20px;
  width: 132px;
  fill: white;
}
/* #endregion header top */

/* #region navbar */
.navbar {
  left: -35px;
  top: 10px;
  background-color: #fff;
  border-bottom: 2px solid #f4f5f6;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar__list {
  margin-left: -40px;
  width: 100%;
}

.navbar__list-item {
  color: #000;
  font-weight: bold;
}

.navbar__list-item:hover {
  color: red;
}

.navbar__input {
  width: 75px;
  font-size: 0.785rem;
  margin-left: 15px;
}

.navbar__input__icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg)
    center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
}
/* #endregion navbar */

/* #endregion header */

/* #region main */

/* #region top section */
.top-section__column-left {
  background-color: aqua;
  height: 100px;
}

.top-section__column-middle {
  background-color: white;
}

.top-section__column-right {
  background-color: white;
}

.top-section__title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(3, 3, 3, 0.4);
  height: 22px;
}
/* #endregion top section */

/* #endregion main */

/* #endregion layout */

/* #region modules */

/* #region general */
.btn-page-style {
  box-sizing: border-box;
  background-color: white;
  color: red;
  padding: 4px;
  height: 26px;
  line-height: 19px;
}

.border-right {
  border-right: 0.5px solid #000 !important;
}

.container-fluid {
  max-width: 1310px;
}

.col-7 {
  padding-right: 0;
}

.gap-10 {
  width: 10px;
}

.title a:hover {
  text-decoration-color: #f72210;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  color: #000;
}

.hover-red:hover {
  color: #f72210;
}
/* #endregion general */

/* #region article */
.article__image-word {
  background-color: rgba(255, 255, 255, 0.9);
  color: #f72210;
  text-transform: uppercase;
  text-align: center;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.article__title {
  font-weight: bold;
  color: #000;
  font-size: 1.6rem;
  line-height: 24px;
}

.article__summary {
  font-size: 16px;
  line-height: 18px;
}

.article__image {
  width: 100%;
}
/* #endregion article */

/* #region no image new */
.no-image-new {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 0;
  line-height: 22px;
  color: #000;
}
/* #endregion no image new */

/* #region story */
.story__article {
  font-size: 0.76rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 15px;
}

.story__article__title {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  font-size: 0.985rem;
  height: 63px;
  line-height: 20px;
  margin-bottom: 0;
}

.story-article__image {
  width: 135px;
  height: 90px;
}
/* #endregion more stories */

/* #region culture and travel */
.culture-travel {
  background-color: #f4f5f7;
}

.culture-travel__article {
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.culture-travel__button {
  display: block;
  background-color: #c2d4d7;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  width: 55px;
  box-shadow: none;
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
}

.culture-travel__image {
  width: 100%;
}

.culture-travel__title {
  color: #272727;
  font-size: 20px;
  font-family: "Lora", sans-serif;
}
/* #endregion culture and travel */

/* #region opinion */
.opinion__image {
  width: 63px;
  height: 63px;
}
/* #endregion opinion */

/* #endregion modules */

/* #region media queries */

@media only screen and (min-width: 992px) {
  /* #region header */

  /* #region header top */
  .page-header {
    height: 95px;
  }

  .header__item:first-child {
    margin-top: 20px;
  }

  .page-header__date {
    font-size: 0.98rem;
  }

  .page-header__label {
    font-size: 1.2rem;
  }

  .btn-page-style {
    margin: 0 15px;
    font-size: 1.2rem;
  }

  .page-header__main-title {
    width: 395.633px;
    height: 60px;
    margin-top: -20px;
  }

  .page-header__end {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
  /* #endregion header top */

  /* #region navbar */
  .page-header__main-title {
    position: relative;
    top: 20px;
  }
  /* #endregion navbar */

  /* #endregion header */

  /* #region main */
  .top-section__item {
    margin-top: 60px;
  }
  /* #endregion main */
}

/* #endregion media queries */
